//Ejemplo de partials
//Ejemplo de Variables
$color-p: #272727;
$color-white: #ffffff;
$color-black: #262626;
$color-skyblue: #51b5ef;
$color-lightblue: #436bf1;
$color-black1: #252525;
$color-grey: #363535;
$color-black2: rgba(35, 9, 9, 0.6);
$color-black3: rgba(0, 0, 0, 0.1);
$width-example: 20px;
